@charset "utf-8";

// variables

$theme: #0ebfdd;
$theme-text: #45494d;

/* basic rules */

body {
  font-family: Tahoma;
  background: #f7fdfe;
  color: #f7fdfe;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 44px;
  text-align: center;
}

p {
  margin-bottom: 50px;
  text-align: center;
}

p {
  padding: 0 10px 0;
  font-size: 20px;
  margin: 30px 0 0px;
  line-height: 1.4;
}

/* theme rules */

.theme {
  &-bg {
    background-color: $theme;
  }

  &-color {
    color: $theme;
  }

  &-text {
    color: $theme-text;
  }
}

// state rules

.is-hidden {
  visibility: hidden;
}

/* Layout rules */

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.l-wrap {
  overflow: hidden;
  max-width: 960px;
  min-width: 320px;
  margin: auto;
}

.l-container {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

/* end Layout rules */

.l-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.heading {
  margin: 0;
  height: 0;
}

.l-logo {
  float: left;
  margin: 0 10px;
}

.logo {
  display: block;
  width: 114px;
  height: 45px;
}

.l-nav {
  float: right;
  margin: 0 10px;
}

/* nav module rules */

.nav {
  padding-left: 0;

  &-item {
    display: inline;
    margin-left: 20px;

    &:before {
      content: '∙';
      margin-right: 20px;
      color: #9498a0;
    }

    &:first-child:before,
    &:last-child:before {
      content: none;
    }
  }

  &-link {
    font-size: 14px;
    color: #9498a0;
    text-transform: uppercase;
    text-decoration: none;
  }

  &-btn {
    @extend .nav-link;
    font-weight: 600;
    color: #fff;
    background: $theme;
    padding: 12px 25px 11px;
    border-radius: 19px;
  }
}

/* end nav module rules */

.l-mission {
  padding-top: 405px;
  padding-bottom: 55px;
  background-image: url(../img/bridge-bg.png);
}

.mission {
  &-heading {
    margin: 0;

    span {
      padding-left: 25px;
      padding-right: 25px;
    }

    &:before,
    &:after {
      vertical-align: middle;
      font-size: 12px;
      content: '✰';
    }
  }
}

.l-about {
  padding: 70px 0 40px;
}

/* team section */

.l-team {
  padding: 55px 0;
}
.l-persons {
  margin-top: 35px;
  padding-left: 0;
  text-align: center;
}

.person {
  padding: 0 35px;
  display: inline-block;
  vertical-align: top;

  &-avatar {
    margin-bottom: 25px;
    border-radius: 50%;
  }
  &-name {
    font-size: 18px;
    margin: 0 0 5px;
    padding: 0;
  }
  &-job {
    font-size: 14px;
    font-style: italic;
    margin: 0;
  }
}

/*
****************
* =.l-container5
****************
*/
.l-container.five {
  background: #f7fdfe;
}

.services h2 {
  color: $theme;
  margin: 65px 0 0;
}

.services p {
  color: #45494d;
  margin-bottom: 50px;
}

.sheet {
  font-size: 0;
}

.sheet h3 {
  margin: 0 0 5px;
  font-size: 20px;
  font-weight: normal;
  font: 20px/1.4 Tahoma, sans-serif;
  color: #45494d;
}

.sheet > div {
  display: inline-block;
  width: 33%;
  margin-bottom: 30px;
  padding-right: 10px;
  font-size: 12px;
  color: #45494d;
  line-height: 21px;
  vertical-align: top;
  box-sizing: border-box;
}

.sheet .icon {
  float: left;
  width: 55px;
  height: 55px;
  margin-right: 20px;
  border: 2px solid #0bd;
  border-radius: 50%;
  background-image: url(../img/sprite.png);
}
.sheet .design .icon {
  background-position: 0px -47px;
}

.sheet .ideas .icon {
  background-position: -60px -47px;
}

.sheet .answer .icon {
  background-position: -120px -47px;
}

.sheet .layout .icon {
  background-position: -180px -47px;
}

.sheet .support .icon {
  background-position: -240px -47px;
}

.sheet .star .icon {
  background-position: -300px -47px;
}

.sheet .icon + div {
  overflow: hidden;
}
/*
****************
* =.l-container6
****************
*/
.l-container.six {
  background-image: url(../img/map.png);
}

.map {
  height: 600px;
}
/*
****************
* =.l-container7 footer
****************
*/
.l-container.seven {
  background: #45494d;
}

.share {
  float: right;
}

.social {
  display: inline-block;
  border: 1px solid #d7dee4;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 20px 10px 0 0;
  vertical-align: middle;
  background-image: url('../img/sprite.png');
}

.social.mail {
  background-position: -127px 0;
}
.social.fb {
  background-position: -168px 0;
}
.social.tw {
  background-position: -209px 0;
}

.info {
  float: left;
  margin: 35px 0 0 5px;
}

.info ul {
  padding-left: 0;
  margin: 0;
}

.info li {
  display: inline;
}

.info li:nth-child(2) {
  margin: 0 35px 0 35px;
}

.info a {
  font-size: 12px;
  color: #d7dee4;
  text-transform: uppercase;
  text-decoration: none;
}

.privacy {
  margin: 80px 10px 0;
  height: 39px;
  border-top: 1px solid #5a5e62;
}

.privacy ul {
  float: right;
  margin: 10px 15px 0 0;
}

.privacy li {
  display: inline;
  margin-left: 15px;
}

.privacy a {
  font-size: 12px;
  color: #73767a;
  text-decoration: none;
}

.privacy li:nth-child(2):before,
.privacy li:nth-child(3):before {
  content: '|';
  margin-right: 15px;
  color: #9498a0;
}
